body {
  font-family: "Nunito Sans", sans-serif;
  background-color: #fff;
  /* background-color: #ddd; */
}

.notes-desc {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  user-select: none;
  cursor: pointer;
}

.addicon-wrap {
  right: 3%;
  bottom: 5%;
  color: #141414;
  position: fixed;
}

.addicon {
  padding: 12px;
  display: flex;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  height: 4pc;
  width: 4pc;
}

button,
button:focus {
  outline: none;
}

.delete-btn {
  margin: 0 0 0 auto;
  cursor: pointer;
  color: #141414;
}

.notes-textarea {
  resize: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

textarea::-webkit-scrollbar {
  visibility: hidden;
}
